/*======= All App Files Include Here ======*/

//Default Bootstrap File
@import "./bootstrap";

//Slick Slider
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/*==== Core Mixins ====*/
@import "./custom/mixins/mixin";

/*==== Core Utilities =====*/
@import "./custom/utilities/utilities";

// Custom Variables Files
@import "./custom";

// Custom Layout Files
@import "./custom/layouts/layout";

// Custom themes Files
@import "./custom/themes/themes";

.mrgnL20 {
  margin-left: 20px;
}

.clrblack {
  color: #000000 !important;
}

.rct-sidebar .sidebar-overlay-dark .dropdown-menu {
  // background: rgb(38, 38, 38) !important;
  background-color: darkgrey !important;
}

// .MuiDialogContent-root-379 {
//     overflow-y: hidden !important;
// }

.rct-block-footer.d-flex.justify-content-between.align-items-center.rounded-bottom {
  width: 100% !important;
}

thead {
  background-color: #ffffff !important;
}

th {
  font-weight: bolder !important;
  color: #000000 !important;
}

.MuiTableCell-head-129 {
  font-weight: bolder !important;
}

div[role="toolbar"] {
  display: none !important;
  //  display: unset !important;
}

// div[role="tablist"] {
//   margin-bottom: 20px !important;
//   border-bottom: 1px solid rgba(224, 224, 224, 1) !important;
// }

div[role="tablist"] {
  margin-top: 10px;
  margin-bottom: 10px !important;
  border-bottom: 0px;
}

.CompanyTitle div[role="toolbar"] {
  display: inline-block !important;
}

// .MuiTypography-root-28 {
//     padding-top: 0px !important;
// }

div[style="padding-top: 24px;"] {
  padding-top: 0px !important;
}

// td .row {
//     width: 10%;
// }

.appheader {
  border: 0px !important;
  min-width: 100px !important;
  font-size: 16px !important;
  font-weight: bold !important;
  height: 100% !important;
}

//validations
.form-error {
  display: none;
  margin-top: 0.4em;
  font-weight: bold;
  color: #ec5840;
}

.is-visible {
  display: block !important;
}

.is-invalid-input:not(:focus) {
  background-color: rgba(236, 88, 64, 0.1);
  border-color: #ec5840;
}

.required {
  color: #ec5840;
}

table {
  white-space: nowrap !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

label + .MuiInput-formControl-84 {
  margin-top: 0px !important;
}

td {
  white-space: normal !important;
  // padding: 4px 24px 4px 24px !important;
}

table tbody tr td,
table thead tr th {
  padding: 4px 5px 4px 16px !important;
  word-break: break-word !important;
}

.row {
  margin-left: unset !important;
  margin-right: unset !important;
}

.clscriticalissues .rct-block {
  overflow: auto !important;
}

/*New Style Start*/
body {
  font-size: 14px;
}
.rct-sidebar .rct-sidebar-wrap .top-sidebar .sidebar-user-block {
  padding: 1rem;
}
.rct-sidebar .rct-sidebar-nav .rct-mainMenu li.side-title {
  font-size: 0.6rem;
  line-height: 1rem;
}
.rct-sidebar .rct-sidebar-nav .rct-mainMenu > li:not(.list-item) a {
  padding: 0.5rem 1.2rem;
  font-size: 13px;
}
.rct-sidebar .rct-sidebar-nav .rct-mainMenu > li:not(.list-item) a.item-active {
  background-color: rgba(0, 0, 0, 0.08);
}
.rct-sidebar .rct-sidebar-nav .navigation ul.rct-mainMenu + ul {
  margin-top: 30px !important;
}
.page-title h2 {
  font-size: 1.62rem;
  font-weight: 600;
}
.page-title {
  margin-bottom: 1.5rem;
}
.MuiInputBase-root-244 {
  font-size: 14px !important;
}
.rct-block-title h4,
.faq-page-wrapper .panel-heading h4 {
  font-size: 14px;
  font-weight: 700;
}
table thead tr th,
table tbody tr td {
  font-size: 11px !important;
}
.table th,
.table td {
  padding: 0.6rem;
}
.humburger {
  color: #727891 !important;
  height: 2.3rem !important;
  width: 2.3rem !important;
}
.MuiIconButton-root-102 {
  font-size: 1.3rem !important;
}

.rct-sidebar .site-logo {
  padding: 0.7rem 1.2rem;
}
.MuiTypography-subtitle1-46 {
  font-size: 14px !important;
}
.MuiTypography-h6-45 {
  font-size: 1rem !important;
}
.MuiTableCell-root-151 {
  padding: 4px 18px 4px 24px !important;
}
.form-control {
  font-size: 14px;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.flex-wrap {
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}

.mx-10 {
  margin-left: -10px !important;
  margin-right: -10px !important;
}
.mx-15 {
  margin-left: -15px !important;
  margin-right: -15px !important;
}

.dashbord-box {
  margin-left: -7px !important;
  margin-right: -7px !important;
}

.table thead th,
table thead tr th {
  color: #a5adbb !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  background: #f4f7fa !important;
  border-bottom: 1px solid #c1c7d0 !important;
}
.table td,
.MuiTableCell-root-248 {
  border-bottom: 1px solid #f3f4f6 !important;
}
.rct-block {
  // padding-bottom: 15px;
}

.ecom-dashboard-wrapper .rctPadding {
  padding: 5px !important;
}
.MuiTab-textColorPrimary-13,
.MuiTab-textColorPrimary-23,
.collapse.show .rct-full-block div[role="tablist"] buttton[role="tab"][aria-selected="false"] {
  color: rgba(0, 0, 0, 0.44) !important;
  font-weight: 400 !important;
}
.MuiTab-textColorPrimary-657.MuiTab-selected-659,
.MuiTab-textColorPrimary-23.MuiTab-selected-25,
.MuiTab-textColorPrimary-13.MuiTab-selected-15,
.MuiTab-textColorPrimary-279.MuiTab-selected-281,
.MuiTab-textColorPrimary-455.MuiTab-selected-457,
.collapse.show .rct-full-block div[role="tablist"] buttton[role="tab"][aria-selected="true"] {
  color: #464d69 !important;
}
.MuiPrivateTabIndicator-colorPrimary-26,
.MuiPrivateTabIndicator-colorPrimary-36,
.MuiPrivateTabIndicator-colorPrimary-392 {
  background-color: #464d69 !important;
}

.collapse {
  &.show {
    .rct-full-block {
      div {
        &[role="tablist"] {
          button {
            &[role="tab"] {
              &[aria-selected="false"] {
                color: #a5adbb !important;
                font-weight: 600 !important;
              }
              &[aria-selected="true"] {
                color: #464d69 !important;
                font-weight: 600 !important;
              }
            }
          }
          & > span {
            background-color: #464d69 !important;
          }
        }
      }
    }
  }
}

.rootsecmultiselect .form-control {
  margin-top: 0px;
}
.rootsecmultiselect .error {
  background-color: rgba(236, 88, 64, 0.1) !important;
  border-color: #ec5840 !important;
}

.errorautocomplete .react-tags,
.errorDate input {
  background-color: rgba(236, 88, 64, 0.1) !important;
  border-color: #ec5840 !important;
}

.rootsecmultiselect .form-control:before,
.rootsecmultiselect .form-control:after {
  display: none;
}
.rootsecmultiselect div[role="button"] {
  height: 20px !important;
  white-space: normal !important;
  overflow: inherit !important;
  border-radius: 5px;
  margin: 2px;
}
.rootsecmultiselect div[role="button"][aria-pressed="false"] {
  height: auto !important;
  margin: 2px;
  padding: 3px 0 5px !important;
}
.rootsecmultiselect .form-control {
  padding: 3px !important;
}
.rct-block-title .contextual-link {
  display: none;
}
.dayfilter {
  top: 15px;
  position: absolute !important;
  right: 15px;
}
.viewall-button {
  background: transparent;
  top: 15px;
  position: absolute !important;
  right: 15px;
  border: 0;
  box-shadow: none;
}

.react-tags {
  position: relative;
  //   padding: 6px 0 0 6px;
  //   border: 1px solid #d1d1d1;
  //   border-radius: 1px;

  //   /* shared font styles */
  //   font-size: 1em;
  //   line-height: 1.2;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #464d69;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ebedf2;
  border-radius: 0.25rem;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  /* clicking anywhere will focus the input */
  cursor: text;
}

// .react-tags.is-focused {
//   border-color: #b1b1b1;
// }

.react-tags__selected {
  display: inline;
}

.react-tags__selected-tag {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 6px 6px 0;
  padding: 6px 8px;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  background: #f1f1f1;

  /* match the font styles */
  font-size: inherit;
  line-height: inherit;
}

.react-tags__selected-tag:after {
  content: "\2715";
  color: #aaa;
  margin-left: 8px;
}

.react-tags__selected-tag:hover,
.react-tags__selected-tag:focus {
  border-color: #b1b1b1;
}

.react-tags__search {
  display: inline-block;

  /* match tag layout */
  padding: 7px 2px;
  margin-bottom: 6px;

  /* prevent autoresize overflowing the container */
  max-width: 100%;
}

@media screen and (min-width: 30em) {
  .react-tags__search {
    /* this will become the offsetParent for suggestions */
    position: relative;
  }
}

.react-tags__search input {
  /* prevent autoresize overflowing the container */
  max-width: 100%;

  /* remove styles and layout from this element */
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;

  /* match the font styles */
  font-size: inherit;
  line-height: inherit;
}

.react-tags__search input::-ms-clear {
  display: none;
}

.react-tags__suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 99999;
}

@media screen and (min-width: 30em) {
  .react-tags__suggestions {
    width: 240px;
  }
}

.react-tags__suggestions ul {
  margin: 4px -1px;
  padding: 0;
  list-style: none;
  background: white;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.react-tags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 6px 8px;
}

.react-tags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

.react-tags__suggestions li:hover {
  cursor: pointer;
  background: #eee;
}

.react-tags__suggestions li.is-active {
  background: #b7cfe0;
}

.react-tags__suggestions li.is-disabled {
  opacity: 0.5;
  cursor: auto;
}

.labelDashboard {
  font-size: 0.75em !important;
}
.datedashboard {
  margin-top: 0px !important;
  padding: 0 0 0 5px !important;
}

/*!
 * https://github.com/YouCanBookMe/react-datetime
 */

.rdt {
  position: relative;
}
.rdtPicker {
  display: none;
  position: absolute;
  // margin-left: -95px;
  width: 250px;
  padding: 4px;
  margin-top: 1px;
  z-index: 99999 !important;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #f9f9f9;
}
.rdtOpen .rdtPicker {
  display: block;
}
.rdtStatic .rdtPicker {
  box-shadow: none;
  position: static;
}

.rdtPicker .rdtTimeToggle {
  text-align: center;
}

.rdtPicker table {
  width: 100%;
  margin: 0;
}
.rdtPicker td,
.rdtPicker th {
  text-align: center;
  height: 28px;
}
.rdtPicker td {
  cursor: pointer;
}
.rdtPicker td.rdtDay:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
  background: #eeeeee;
  cursor: pointer;
}
.rdtPicker td.rdtOld,
.rdtPicker td.rdtNew {
  color: #999999;
}
.rdtPicker td.rdtToday {
  position: relative;
}
.rdtPicker td.rdtToday:before {
  content: "";
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #428bca;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}
.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
  background-color: #428bca;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.rdtPicker td.rdtActive.rdtToday:before {
  border-bottom-color: #fff;
}
.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}

.rdtPicker td span.rdtOld {
  color: #999999;
}
.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker th {
  border-bottom: 1px solid #f9f9f9;
}
.rdtPicker .dow {
  width: 14.2857%;
  border-bottom: none;
  cursor: default;
}
.rdtPicker th.rdtSwitch {
  width: 100px;
}
.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
  font-size: 21px;
  vertical-align: top;
}

.rdtPrev span,
.rdtNext span {
  display: block;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker thead tr:first-child th {
  cursor: pointer;
}
.rdtPicker thead tr:first-child th:hover {
  background: #eeeeee;
}

.rdtPicker tfoot {
  border-top: 1px solid #f9f9f9;
}

.rdtPicker button {
  border: none;
  background: none;
  cursor: pointer;
}
.rdtPicker button:hover {
  background-color: #eee;
}

.rdtPicker thead button {
  width: 100%;
  height: 100%;
}

td.rdtMonth,
td.rdtYear {
  height: 50px;
  width: 25%;
  cursor: pointer;
}
td.rdtMonth:hover,
td.rdtYear:hover {
  background: #eee;
}

.rdtCounters {
  display: inline-block;
}

.rdtCounters > div {
  float: left;
}

.rdtCounter {
  height: 100px;
}

.rdtCounter {
  width: 40px;
}

.rdtCounterSeparator {
  line-height: 100px;
}

.rdtCounter .rdtBtn {
  height: 40%;
  line-height: 40px;
  cursor: pointer;
  display: block;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
.rdtCounter .rdtBtn:hover {
  background: #eee;
}
.rdtCounter .rdtCount {
  height: 20%;
  font-size: 1.2em;
}

.rdtMilli {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px;
}

.rdtMilli input {
  width: 100%;
  font-size: 1.2em;
  margin-top: 37px;
}

.rdtTime td {
  cursor: default;
}

.rdtDays table tbody tr td,
.rdtDays table thead tr th {
  padding: 0px 5px 0px 5px !important;
  word-break: unset !important;
}

.vulnerabilityloader .loader-overlay {
  height: 500px !important;
}

.btn *,
a[role="button"],
button[type="button"] {
  text-transform: unset !important;
}

.table thead th,
table thead tr th {
  color: #a5adbb !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  background: #f4f7fa !important;
  border-bottom: 1px solid #c1c7d0 !important;
}

.dark-mode .table thead th,
.dark-mode table thead tr th {
  background-color: #495a71 !important;
}

.dashboardTabs {
  background: white;
  border-radius: 50%;
  font-size: 40px;
  max-width: 40px;
  max-height: 40px;
  padding-left: 0px;
  padding-right: 0px;
  top: 5px;
}

.rct-sidebar .menu {
  font-size: 12px;
  font-weight: 400;
  line-height: 23px;
}
ul.rcevalue {
  // width: 75px;
  // margin-left: -2px;
  li {
    color: #ffffff;
    padding: 0;
    width: 13px;
    height: 13px;
    font-weight: 500;
    font-size: 8px;
    line-height: 13px;
    border-radius: 3px;
    text-align: center;
    margin: 0px;
    &.correctclr {
      background: #00d014;
    }
    &.extremeclr {
      background: #eb144c;
    }
    &.highclr {
      background: #eb144c;
    }
    &.mediumclr {
      background: #ff6900;
    }
    &.lowclr {
      background: #fcb900;
    }
  }
}

ul.list-unstyled.d-flex.justify-content-between.rcevalue.mb-0 {
  width: 50px !important;
}

.vulnclrs {
  p {
    padding: 2px 0px;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    margin: 2px 3px 0px 0px;
    &.correctclr {
      background: #00d014;
    }
    &.extremeclr {
      background: #eb144c;
    }
    &.highclr {
      background: #eb144c;
    }
    &.mediumclr {
      background: #ff6900;
    }
    &.lowclr {
      background: #fcb900;
    }
  }
}
.tabcontainer {
  .rct-full-block {
    .hideVuln {
      width: 100%;
    }
    .showVuln {
      width: calc(100% - 250px);
      margin-right: 10px;
      display: inline-block;
    }
    .showPub {
      width: calc(100% - 380px) !important;
      margin-right: 20px;
      display: inline-block;
    }
  }
}

.react-swipeable-view-container div[aria-hidden="true"] {
  visibility: hidden;
  height: 0;
}

.horizontal-menu {
  display: none !important;
}

.explainationtd {
  color: white !important;
  font-size: 20px;
  text-align: center;
  padding: 0px !important;
  font-weight: 600;
  border-right: 1px solid #a5adbb;
  width: 8%;
}

.vulnRadiobuttons {
  width: 100px;
  height: 30px;
  margin-bottom: 0;
  margin-right: 0 !important;
}

.css-vj8t7z {
  border: 1px solid #ebedf2 !important;
  border-radius: 0.25rem !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
  min-height: 33px !important;
}

.css-1hwfws3 {
  height: 33px !important;
}

.css-1wy0on6 {
  height: 33px !important;
}

.css-2o5izw:hover {
  border-color: #d4e2fc !important;
  outline: 0 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(93, 146, 244, 0.25) !important;
}

.clsCompanyassessment .rct-block-content {
  padding: unset !important;
}

div[role="dialog"] .rct-block {
  box-shadow: unset !important;
}

.app-header .rct-header .site-logo {
  background-color: unset !important;
}

.clsclientDB {
  li {
    margin-right: 1.5rem !important;
  }
  button {
    // display: contents !important;
    width: 100% !important;
  }
}

.rct-sidebar .rct-sidebar-nav .rct-mainMenu .sub-menu ul li a {
  padding: 0.3rem 1.5rem 0.3rem 2.5rem !important;
}

.notificationliStrong {
  font-size: unset !important;
  height: unset !important;
  width: unset !important;
  line-height: unset !important;
  text-align: unset !important;
  border-radius: unset !important;
  padding: unset !important;
  margin: unset !important;
}

.page-title h2 {
  display: unset !important;
}

tr:hover {
  cursor: pointer;
}

.page-title-wrap {
  cursor: pointer;
}

.w-auto {
  width: auto !important;
}
div[role="dialog"] .rct-block .rct-block-content {
  padding-left: 0;
  padding-right: 0;
}
.row-15 {
  margin-left: -15px !important;
  margin-right: -15px !important;
}
.row-12 {
  margin-left: -12px !important;
  margin-right: -12px !important;
}
.ipcontainer .col-12 {
  padding-left: 1px;
  padding-right: 1px;
}
.commentbody {
  height: 300px !important;
}
.tab-right-btn {
  width: 140px;
  display: inline-block !important;
  vertical-align: top !important;
  margin-top: 15px !important;
}

.dashboardtables tbody tr td:nth-child(1),
.dashboardtables thead tr th:nth-child(1) {
  padding-left: 15px !important;
}
.rct-block-title,
.faq-page-wrapper .panel-heading {
  padding-left: 15px !important;
}
table[role="grid"] tr th:last-child {
  padding-right: 15px !important;
  text-align: right !important;
}
table tfoot tr td {
  padding-right: 0px !important;
}

div[data-swipeable="true"] {
  overflow-x: hidden !important;
}

@media (max-width: 1269px) {
  .new-customer-list li .media a {
    height: unset !important;
    width: unset !important;
  }
  .new-customer-list.penlist li a {
    height: auto !important;
    width: auto !important;
  }
}
@media (max-width: 960px) {
  /*table[role="grid"] thead{display: table-header-group !important;}
table[role="grid"] tbody tr{border:0 !important;}
table[role="grid"] tbody tr td{width:auto;display:table-cell;}
table[role="grid"] tbody tr td:nth-child(1) {display:none;}*/
}
@media (max-width: 767px) {
  .mobile-table .rct-full-block {
    overflow-x: auto;
  }
  .mobile-table .rct-full-block .table {
    width: 740px;
  }
  .rct-sidebar-wrap .rct-scroll > div:first-child {
    padding-bottom: 20px !important;
  }
  .appheader {
    min-width: 82px !important;
  }
  .navbar-left .MuiButton-text-222 {
    padding: 2px 8px;
  }
  .breadcrumbs {
    -ms-flex-order: -1;
    order: -1;
    width: 100%;
  }
  .breadcrumbs .breadcrumb {
    float: none;
  }
  .page-title-wrap {
    position: relative;
  }
  .page-title-wrap i {
    position: absolute;
    top: 5px;
  }
  .page-title .page-title-wrap h2 {
    display: block !important;
    padding-left: 20px;
    overflow: inherit;
    white-space: normal;
    width: 100%;
  }
  .new-customer-list li .col-sm-12 {
    padding-left: 0;
    padding-right: 0;
  }
  div[role="dialog"] > div > div {
    margin-left: 15px;
    margin-right: 15px;
  }
  .modalbd,
  .modaltl {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .commentbody {
    height: 180px !important;
  }
  .tabcontainer .rct-full-block .showVuln {
    // width: 100%;
    width: calc(100% - 105px);
    margin-right: 20px;
    display: inline-block;
  }
  .tab-right-btn {
    margin-bottom: 15px !important;
    margin-left: 15px !important;
    margin-top: 15px !important;
  }

  .app-header .rct-header.cl-header .navbar-left {
    width: 100%;
    margin-left: 0 !important;
    text-align: center;
  }
  .app-header .rct-header.cl-header .navbar-left li {
    margin-right: 0 !important;
  }
  .app-header .rct-header.cl-header .navbar-right {
    position: absolute;
    right: 0;
    top: 0;
  }
}
@media (max-width: 575px) {
  .app-header .rct-header .navbar-left {
    margin-top: 5px;
  }
  .ipcontainer .col-12 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .app-header .rct-header.cl-header .appheader {
    font-size: 13px !important;
  }
}

.ReactSlackChat__chat__input___1-Hr1 {
  border: 1px solid #ffffff;
  box-shadow: none;
  border-top: 1px solid;
  width: 100% !important;
  height: 65px !important;
  background-color: unset !important;
}

.ReactSlackChat__attachmentIcon___2DWqQ {
  bottom: 0px !important;
}

.ReactSlackChat__chat__messages___1kJlp {
  height: 75% !important;
  width: 100% !important;
}

//start changes done 16/08/2019
div[role="radiogroup"] svg[role="presentation"] {
  color: #5d92f4 !important;
}

.sendcommentbtn {
  background-color: #ffffff !important;
  color: rgba(0, 0, 0, 0.26) !important;
}

button.sendcommentbtn:hover {
  color: #0072bc !important;
}

.rceAlign {
  letter-spacing: 4px;
}

.vulnSystemtags {
  margin-left: 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.vulnAttachments {
  border-radius: 3px;
  background-color: #eff4fe;
  color: #5d92f4;
  margin: 0px;
  padding-left: 10px;
}

.vulnAttachmentdwnld {
  margin: 0px 10px 0px 10px !important;
  font-size: 22px !important;
}
.zmdi-download:hover {
  color: #0072bc !important;
}

.comment-date {
  margin-left: 20px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
}

.commentreply {
  font-weight: 500;
  color: #0072bc !important;
}

.commentdelete {
  color: #ff3739 !important;
  font-weight: 500;
}

.Commentbox .rct-block-content {
  padding: 0px !important;
}

.commentboxbgclr {
  background-color: #ecedf0;
}

.commentText {
  border: 0px !important;
  box-shadow: unset !important;
  font-size: 1.2rem !important;
  line-height: unset !important;
  padding: 0.375rem 0.75rem !important;
}

.commentText:focus {
  // color: unset !important;
  // background-color: unset !important;
  // border-color: unset !important;
  // outline: unset !important;
  // box-shadow: unset !important;
}

.commentimg {
}

.modalcomment {
  padding: 10px !important;
}

.aqua-ripple > div {
  transition: all 0.2s ease-in-out;
}
.aqua-ripple > div:hover {
  background-color: #fff !important;
}
//end changes done 16/08/2019

//start change 19/08/2019

div[data-swipeable="true"] .rct-block {
  margin-bottom: 0px !important;
}
//end changes done 19/08/2019

//start-- as per client comments 13/08/2019

//start conflicted changes
hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 0;
  border-top: 1px solid #fafafa;
}

.font-xs {
  font-size: 12px;
  line-height: 23px;
}

.app-header .rct-header {
  .app-header .rct-header .site-logo {
    padding: 8px !important;
    background-color: #5d92f4;
  }
}
//end conflicted changes

label {
  color: #464d69;
}

button.jss216.jss322.jss333.jss334.jss336.jss337.mb-10.text-white {
  font-size: 12px !important;
}
.jss941 {
  height: 2.1875em !important;
  color: rgba(0, 0, 0, 0.54) !important;
}

.jss1284 {
  height: 2.1875em !important;
  font-size: 12px !important;
  color: rgba(0, 0, 0, 0.54) !important;
}
.jss265 {
  padding-top: 17px;
  padding-bottom: 17px;
}
.jss155 {
  height: 2.175em !important;
  font-size: 12px !important;
  color: rgba(0, 0, 0, 0.54) !important;
}

.jss1177 {
  flex: 0 0 auto;
  margin: 12px 24px;
}

button.jss216.jss322.jss333.jss336.btn-default.jss1178 {
  border: 1px solid;
  background: #fff;
  color: #5d92f4 !important;
  box-shadow: none !important;
}

h6.jss219.jss236.jss2436 {
  color: #464d69;
}

.jss333 {
  background: #fff;
}

button.jss216.jss322.jss333.jss336.btn-primary.text-white.btn-block.w-auto {
  background: #5d92f4 !important;
}

button.jss216.jss322.jss333.jss336.btn-primary.text-white.btn-block.tab-right-btn {
  background: #5d92f4 !important;
}

button.jss73.jss47.jss58.jss59.jss61.jss62.jss71.btn-block.text-white.w-100 {
  padding: 12px 24px !important;
}

button.jss73.jss47.jss49.jss52.jss68.humburger.appheader:hover {
  background: #fff !important;
  color: #5d92f4 !important;
}

button.jss73.jss47.jss49.jss52.jss68.humburger.appheader {
  font-size: 14px !important;
  font-weight: 500 !important;
}

label.jss334.jss323.jss328.jss331.jss329 {
  background: none !important;
}

.jss278.jss275 {
  color: #5d92f4;
}

.jss1175 {
  flex: 1 1 auto;
  padding: 0 24px 0px;
  overflow-y: auto;
  margin-bottom: -40px;
  -webkit-overflow-scrolling: touch;
}

.jss71 {
  padding: 12px 24px;
}

.jss59 {
  color: #fff;
  background-color: #464d69 !important;
}

.imglogoback {
  background: #464d69;
  border-radius: 5px;
  text-align: -webkit-center;
}

.imgMinheight {
  min-height: 51.4vh;
}

.rct-session-wrapper header {
  height: 17%;
}

.rct-session-wrapper {
  // background-image: none;
  // background: #f4f4f7;
}

.rct-session-wrapper .session-inner-wrapper .session-body {
  margin-left: 15px;
  .rct-session-wrapper .session-inner-wrapper .session-body p {
    color: rgba(70, 77, 105, 0.8);
    font-size: 0.875rem;
  }
}

.text-muted {
  color: rgba(70, 77, 105, 0.8) !important;
}

.forgotpwdheight {
  height: 50vh !important;
}

.resetpwdimglogo {
  height: 47vh !important;
}

img.img-fluid.rounded-circle {
  color: #5d92f4;
  margin-top: 2px;
  padding: 8px;
  border-radius: 50%;
  background-color: #fafafa !important;
  padding: 10px;
  height: 35px;
  width: 35px;
}

.page-title .page-title-wrap > i:hover {
  color: #fff;
  background: #5d92f4;
  border: 1px solid #5d92f4;
}

a {
  color: #5d92f4;
}

.jss69 {
  color: #717791 !important;
  padding: 0px;
  font-size: 15px !important;
  min-width: 64px;
  font-family: "heebo";
  font-weight: 500 !important;
}

.CompanyTitle div[role="toolbar"] {
  display: inline-block !important;
  padding-top: 15px;
  color: #fff !important;
}

.col-sm-12.d-flex.flex-wrap.p-0.ipcontainer,
.col-sm-12.d-flex.flex-wrap.ipcontainer.square-10,
.col-sm-12.d-flex.flex-wrap.ipcontainer.square-15,
.col-sm-12.d-flex.flex-wrap.ipcontainer.square-20,
.col-sm-12.d-flex.flex-wrap.ipcontainer.square-30,
.col-sm-12.d-flex.flex-wrap.ipcontainer.square-40,
.col-sm-12.d-flex.flex-wrap.ipcontainer.size-40,
.col-sm-12.d-flex.flex-wrap.ipcontainer.square-50,
.col-sm-12.d-flex.flex-wrap.ipcontainer.square-60,
.col-sm-12.d-flex.flex-wrap.ipcontainer.size-60,
.col-sm-12.d-flex.flex-wrap.ipcontainer.square-70,
.col-sm-12.d-flex.flex-wrap.ipcontainer.square-80,
.col-sm-12.d-flex.flex-wrap.ipcontainer.size-80,
.col-sm-12.d-flex.flex-wrap.ipcontainer.square-100,
.col-sm-12.d-flex.flex-wrap.ipcontainer.size-100,
.col-sm-12.d-flex.flex-wrap.ipcontainer.square-120,
.col-sm-12.d-flex.flex-wrap.ipcontainer.size-120 {
  margin-left: 10px;
  flex: 0 0 98%;
}

button.jss216.jss322.jss333.jss336.btn-primary.text-white.btn-block {
  background: #5d92f4 !important;
  font-size: 12px !important;
}

button.jss216.jss322.jss333.jss336.btn-default.jss1569 {
  background: #fff;
  border: 1px solid;
  color: #5d92f4 !important;
  box-shadow: none !important;
}

button.jss216.jss1376.jss1378.jss1384.btn-sm.mx-1.bg-primary,
.btn-group-sm > button.jss216.jss1376.jss1378.jss1384.mx-1.bg-primary.btn {
  background: #5d92f4 !important;
}

button.jss216.jss322.jss333.jss336.btn-primary.text-white.jss1272 {
  background: #5d92f4 !important;
}

button.jss216.jss322.jss333.jss336.btn-default.jss1272 {
  background: #fff;
  border: 1px solid;
  color: #5d92f4 !important;
  box-shadow: none !important;
}

button.jss216.jss322.jss333.jss336.btn-default.mr-10.mb-10 {
  background: #fff;
  color: #5d92f4 !important;
  border: 1px solid;
}

.jss322 {
  font-weight: 500 !important;
  font-size: 0.955rem !important;
  min-width: 64px;
  padding: 12px 24px;
  font-size: 0.9365rem !important;
  box-sizing: border-box;
  transition: none !important;
  line-height: 1.75;
  font-family: "heebo" !important;
}

.jss322:hover {
  text-decoration: none;
  background: #fff !important;
  color: #5d92f4 !important;
}

.jss136 {
  font-size: 0.975rem !important;
}

.jss334 {
  background: #5d92f4;
}

button.jss216.jss322.jss333.jss334.jss336.jss337.mr-10.mb-10.text-white:hover {
  background: #5d92f4 !important;
  color: #fff !important;
}

.jss227 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 12px;
  line-height: 23px;
  font-family: "heebo";
}

button.dropdown-item {
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 10px;
}

button.jss216.jss322.jss333.jss336.btn-primary.text-white.btn-block.tab-right-btn {
  margin-right: 10px;
}

/* Main buttons */
.btn-primary.text-white {
  color: #fff !important;
  background: #5d92f4 !important;
  padding: 6px 24px;
  border-color: #5d92f4;
  font-weight: 400 !important;
}

button.text-white {
  background: #5d92f4 !important;
  border-radius: 2px !important;
  font-weight: 400 !important;
  box-shadow: none !important;
  padding: 7px 24px !important;
  border: 1px solid #5d92f4;
}

button.text-white:hover {
  color: #fff !important;
  background: #0072bc !important;
  font-weight: 400 !important;
  border-color: #0072bc;
}

.btn-primary:hover {
  color: #fff !important;
  font-weight: 400 !important;
  background: #0072bc !important;
  border-color: #0072bc;
}

.btn-default {
  border: 1px solid rgba(93, 146, 244, 0.01) !important;
  font-weight: 400 !important;
  padding: 7px 25px !important;
  color: #5d92f4 !important;
  border-radius: 2px !important;
  background: rgba(93, 146, 244, 0.1) !important;
  padding: 6px 24px;
  box-shadow: none !important;
}

input#File-1 {
  font-size: 12px;
}

.jss252 {
  color: rgba(0, 0, 0, 0.87);
}

.jss1232 {
  color: rgba(0, 0, 0, 0.87);
}

.jss344 {
  color: #fff !important;
  background: #0072bc !important;
  border-color: #0072bc;
}

.material-icons {
  font-size: 20px;
}

button.jss216.jss322.jss333.jss336.btn-default.jss1497 {
  background: #fff;
  border: 1px solid;
  color: #0072bc !important;
  box-shadow: none !important;
}

.jss1496 {
  flex: 0 0 auto;
  margin: 12px 24px;
}

.jss1494 {
  flex: 1 1 auto;
  padding: 0 24px 0px;
  margin-bottom: -40px;
  overflow-y: auto;
}

button.jss216.jss322.jss333.jss336.btn-default.jss1497,
button.jss216.jss322.jss333.jss336.btn-default.jss586 {
  background: #fff;
  border: 1px solid;
  color: #0072bc !important;
  box-shadow: none !important;
}

button.jss226.jss332.jss343.jss346.btn-default.mr-10.mb-10 {
  background: #fff;
  border: 1px solid;
  color: #0072bc !important;
  box-shadow: none !important;
}

.jss227 {
  color: #464d69;
  font-size: 0.875rem;
  font-family: "heebo";
  font-weight: 400;
  opacity: 0.8;
  margin-right: 5vh;
}

.jss585 {
  flex: 0 0 auto;
  margin: 12px 24px;
}

.jss1164 {
  flex: 0 0 auto;
  margin: 12px 24px;
}

.jss1143 {
  flex: 0 0 auto;
  margin: 0;
  padding: 24px 35px 0px;
}

.rct-block-title h4,
.faq-page-wrapper .panel-heading h4,
.faq-page-wrapper .panel-heading h4 {
  padding-left: 0px;
}

.zmdi {
  font-size: large;
  color: #727891;
}

.zmdi-edit:hover {
  color: #0072bc !important;
}

.zmdi-delete:hover {
  color: #ff3739 !important;
}

.actionbtns button:hover {
  background: unset !important;
}

.app-header .rct-header .navbar-left {
  margin-left: 1rem;
}

.jss3070 {
  color: #464d69;
}

label.jss506.jss510.jss495.jss500.jss503.jss502 {
  font-size: 12px;
  line-height: 18px;
}
.jss69 {
  color: #717791 !important;
  font-size: 15px !important;
  min-width: 64px;
  font-family: "heebo";
  font-weight: 500 !important;
}

.ecom-dashboard-wrapper .rctPadding {
  padding: 16px 0px 0px 8px !important;
}

.page-title .page-title-wrap > i {
  color: #5d92f4;
  vertical-align: 3px;
  margin-right: 10px;
  background: #fff;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #f9f9f9;
  padding: 7px;
  box-shadow: 1px 1px 1px 0px #ddd;
}

.jss782 {
  flex: 1 1 auto;
  padding: 0 10px 0px !important;
  overflow-y: auto;
}

.jss802 {
  flex: 0 0 auto;
  margin: 8px 30px !important;
}

div#form-dialog-title {
  background: #6aa9d614;
}

.form-control {
  display: block;
  width: 100%;
  padding: 10px 10px;
  font-size: 1rem;
  font-size: 12px !important;
  line-height: 17px;
  color: #464d69;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ebedf2;
  border-radius: 0.25rem;
  box-shadow: none !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1340px;
  }
  .logincontainer {
    max-width: 1140px !important;
  }
}

.jss128 {
  color: rgba(0, 0, 0, 0.54);
  padding: 0;
  font-size: 12px !important;
  line-height: 23px;
  font-family: "heebo";
}
.form-group {
  margin-bottom: 1.563rem;
}
.modalcancel {
  margin-top: -75px;
  margin-right: 15px;
}
.modalsave {
  margin-right: 25px;
  margin-bottom: 20px;
  margin-top: -55px;
}

.jss297 {
  box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.2), 0px 4px 2px 0px rgba(0, 0, 0, 0), 0px 1px 2px 0px rgba(0, 0, 0, 0.12) !important;
}
.react-swipeable-view-container {
  /* margin-bottom: -23px; */
  transform: translate(-100%, 5px);
  scroll-behavior: smooth;
  /* overflow-y: hidden; */
}
body {
  font-size: 12px;
}

.custml-12 {
  margin-left: 12px;
}

.statusnvt {
}

.statusincorrect {
  font-weight: 600;
  color: red;
}

.statuscorrect {
  font-weight: 600;
  color: green;
}

// .app-header .rct-header {
//   border-bottom: 1px solid #ddd;
// }

button.text-white {
  padding: 6px 15px !important;
}

.fontweight500 {
  font-weight: 500;
}

.language-icon {
  height: unset !important;
  width: unset !important;
  line-height: unset !important;
  padding: 0.25rem;
  color: $body-color;
  box-shadow: unset !important;
  background-color: unset !important;
}

.langDropdownMenustyle {
  left: auto !important;
  right: 0px !important;
  width: 50% !important;
}

.language-dropdown .dropdown-menu,
.cart-dropdown .dropdown-menu {
  // left: -15rem !important;
  left: auto !important;
}

.dark-mode .language-icon {
  background-color: unset !important;
}

.pl-12 {
  padding-left: 12px;
}

button[aria-label="Delete Selected Rows"] {
  display: none !important;
}

.error-wrapper {
  background: #ffffff !important;
}

.mr-2_3rem {
  margin-right: 2.3rem !important;
}

.mr-2_675rem {
  margin-right: 2.675rem !important;
}

.mr-2_5rem {
  margin-right: 2.5rem !important;
}

iframe {
  display: none;
}

body {
  top: 0px !important;
}

.skiptranslate {
  float: right;
}

.goog-logo-link {
  display: none;
}

.editor-wrapper p {
  margin: 0px !important;
}

.clsPDFDownload {
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 20px;
  max-width: 35px;
  margin-right: 15px !important;
}

.clsPDFDownload a {
  padding: unset !important;
}

.tabcontainer .rct-full-block .hideVuln {
  width: calc(100% - 105px);
  margin-right: 20px;
  display: inline-block;
}

.rct-block .hideVuln {
  width: calc(100% - 105px);
  margin-right: 20px;
  display: inline-block;
}

.clsPDFlabels {
  font-size: 1rem !important;
  font-weight: 500;
}

.side-title {
  text-transform: uppercase;
}

.clsPDFDownload .dropdown-item.active,
.clsPDFDownload .dropdown-item:active {
  background: #ebedf2 linear-gradient(180deg, #eceff3, #ebedf2) repeat-x;
}
.clsPDFDownload .dropdown-item {
  margin-bottom: 0;
  margin-top: 0;
}
.clsPDFDownloadMenustyle {
  width: 185px !important;
}

// .pol-t img {
//   width: 130%;
// }

// .pol-t_img {
//   width: 125% !important;
// }

.dashbord-tile {
  margin-left: -10px !important;
  margin-right: -10px !important;
  img {
    width: 100%;
  }
}

.companyoverview {
  margin-left: 3px !important;
  margin-right: -12px !important;
}

.DashrceAlign {
  letter-spacing: 12px;
}

.editor-wrapper .rct-block-content {
  padding-left: 15px;
}

.pb-24 {
  padding-bottom: 24px;
}

.clsPDFDownload .zmdi-circle {
  font-size: 8px;
  margin-right: 8px;
}

.css-1hwfws3 {
  overflow: auto !important;
}

button.text-white {
  padding: 7px 15px !important;
}

.dark-mode .select__control,
.dark-mode .select__menu {
  background-color: #2c3644 !important;
  border-color: rgba(0, 0, 0, 0.1) !important;
}

.dark-mode .select__multi-value {
  background: #2c3644;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.5) !important;
}

.dark-mode .rdtPicker td.rdtDay:hover,
.dark-mode .rdtPicker td.rdtHour:hover,
.dark-mode .rdtPicker td.rdtMinute:hover,
.dark-mode .rdtPicker td.rdtSecond:hover,
.dark-mode .rdtPicker .rdtTimeToggle:hover {
  color: #2c3644 !important;
}

.dark-mode td.rdtMonth:hover,
.dark-mode td.rdtYear:hover {
  color: #2c3644 !important;
}

.dark-mode .rdtDays table,
.dark-mode .rdtMonths table,
.dark-mode .rdtYears table {
  background: #2c3644;
}

.dark-mode select option {
  background: #2c3644 !important;
}

.dark-mode label[for="Search"] {
  color: #fff !important;
  z-index: 999;
}

.dark-mode label[class="form-control"] {
  background: #2c3644 !important;
}

.dashboardtables tbody tr td,
.dashboardtables thead tr th,
.criticalissuesheight thead tr th,
.criticalissuesheight tbody tr td {
  padding: 4px 5px 4px 5px !important;
}

.criticalissuesheight {
  max-height: 610px;
}
.criticalissuesheight tbody tr td:nth-child(1),
.criticalissuesheight thead tr th:nth-child(1) {
  padding-left: 10px !important;
}

.dark-mode .react-tags,
.dark-mode .react-tags__selected-tag {
  background: #2c3644 !important;
}

.dark-mode .react-tags__suggestions ul {
  background: #2c3644 !important;
}

.dark-mode .react-tags__suggestions li:hover {
  cursor: pointer;
  background: #000000 !important;
}

.react-tags__selected-tag:after {
  color: #ec5840;
  font-weight: bolder;
}

//validations
.dark-mode .form-error {
  display: none;
  margin-top: 0.4em;
  font-weight: bold;
  color: #ec5840 !important;
}

.publishicon {
  display: inline-block !important;
  vertical-align: top !important;
  position: relative !important;
  top: 20px;
  max-width: 35px;
  // margin-right: 15px !important;
}

.largeicon {
  font-size: x-large;
}

.publishicon:hover {
  background-color: unset !important;
}

// .showVuln {
//   width: calc(100% - 275px);
//   margin-right: 10px;
//   display: inline-block;
// }

// .tabcontainer .rct-full-block .hideVuln {
//   width: calc(100% - 70px);
//   margin-right: 20px;
//   display: inline-block;
// }

// .rct-block .hideVuln {
//   width: calc(100% - 70px);
//   margin-right: 20px;
//   display: inline-block;
// }

// .clsPDFDownloadMenustyle {
//   right: unset !important;
// }

.clsPDFDownload {
  margin-left: 10px !important;
}

@media (max-width: 450px) {
  .clsPDFDownloadMenustyle {
    width: 185px !important;
  }
}

@media (max-width: 991px) {
  .notification-dropdown .dropdown-menu,
  .language-dropdown .dropdown-menu,
  .cart-dropdown .dropdown-menu {
    width: 185px !important;
  }
}

.clsPDFDownloadMenustyle {
  right: 0px !important;
}

// .tabcontainer .rct-full-block .showVuln {
//   // width: 100%;
//   width: calc(100% - 70px);
//   margin-right: 20px;
//   display: inline-block;
// }

.session-wrapper,
.error-wrapper,
.rct-session-wrapper {
  background-position: left bottom !important;
}

// .clsPDFDownload {
//   display: inline-block;
//   vertical-align: top;
//   position: relative;
//   top: 20px;
//   max-width: 35px;
//   margin-right: 15px !important;
// }

.companyhidevuln {
  width: calc(100% - 75px) !important;
}

.clsexplanation .rct-block {
  margin: 15px;
}

.clsexplanation table thead tr th,
.clsexplanation table tbody tr td {
  /* border-bottom: 1px solid #a5adbb !important; */
  border: 1px solid #a5adbb !important;
}

.clsexplanation .rct-block-content {
  padding: 1.25rem 1.25rem !important;
}

.clsexplanation table {
  width: 100% !important;
}

.clsHideacceptedonly span {
  font-size: 0.75rem;
  font-family: Roboto, Helvetica, Arial, Heebo, sans-serif;
  font-weight: 400;
  line-height: 1.66;
  color: #777777;
}

.clsEnglishalert {
  background: #ed5179;
  color: #ffffff;
  font-size: 12px;
  margin: 10px 24px;
  .close {
    color: #333;
    opacity: 1;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    padding: 5px 9px;
    font-size: 15px;
    margin: 7px;
    margin-right: 15px;
  }
}

.criticalissuesheight table tbody tr td {
  white-space: nowrap !important;
}

.dark-mode .page-title .page-title-wrap > i {
  color: #5d92f4 !important;
}

.dark-mode .page-title .page-title-wrap > i:hover {
  color: #ffffff !important;
}

.react-tags__selected {
  position: relative;
  top: -12px;
  font-size: 10px;
}

.react-tags__search {
  position: relative;
  top: -10px !important;
}

.react-tags {
  height: 39px;
  padding: 10px;
}

.custml-12 {
  opacity: 1 !important;
}

.clslatestpentests .rct-block {
  min-height: 290px;
}

//chatbox
.sc-header--img {
  width: 65px;
}

//phase 3

.drag-list-wrapper li .drag-list {
  background: #ffffff;
  padding: 0.9375rem 0.625rem;
  color: #000000;
}

.dragicons {
  padding: 0px 10px !important;
}

.list-group-item {
  background: #fff !important;
  border-bottom: 1px solid #ebedf2 !important;
  border-top: 1px solid #ebedf2 !important;
  padding: 10px 15px !important;
}

.dragableVulnHeader {
  color: #a5adbb !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  background: #f4f7fa !important;
  border-bottom: 1px solid #c1c7d0 !important;
  height: 56px;
  padding: 20px 15px 15px 15px !important;
  word-break: break-word !important;
}

.uldragdrop {
  padding: 0px 20px 0px 0px;
  width: 70px !important;
}

.vulnInfo .rct-block-title {
  padding-bottom: 0px !important;
}

.vulnInfo .rct-block-content {
  padding: 15px !important;
}

.vulnSystemtags {
  width: fit-content !important;
  label {
    font-size: 12px !important;
  }
}

.fts13 {
  font-size: 13px !important;
}

.prioritiesVuln .basic-multi-select {
  padding: 10px 0px;
}

.mb-24 {
  margin-bottom: 24px !important;
}

.px15 {
  padding: 0px 15px 0px 15px !important;
}

.vulnInfo {
  h4 {
    margin-bottom: 0px;
    font-weight: bold;
  }

  .minh45 {
    min-height: 45px !important;
  }
}

.sigCanvas {
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #eeeeee;
}

.noacceptchkbox {
  width: 50px;
  height: 55.5px;
  text-align: -webkit-center;
  margin-right: 28px;
}

.clsvulseedetails {
  text-decoration: underline;
  font-weight: bold;
  color: #000;
}

.clspriority-filters dropdown-menu {
  width: unset !important;
}

.rct-sidebar .rct-sidebar-nav {
  .navigation ul.rct-mainMenu + ul {
    margin-top: 20px !important;
  }

  .rct-mainMenu > li:not(.side-title) {
    padding: 0.3rem 1rem 0.3rem 1rem !important;
  }

  .rct-mainMenu .sub-menu ul li.list-item {
    padding: 0.3rem 1.5rem 0.3rem 2.5rem !important;
  }

  .rct-mainMenu > li:not(.list-item) a {
    padding: 0rem 0.2rem !important;
  }

  .clsticketcode {
    font-size: 1rem !important;
    font-weight: bold !important;
  }
}

.roundimg {
  height: 40px;
  border-radius: 50%;
  width: 40px;
  max-width: 40px;
  margin: 5px;
}

.sc-chat-window {
  z-index: 999;
}

.boxlayout {
  .rct-block-title {
    padding-bottom: 0px !important;
  }

  .rct-block-content {
    padding: 15px !important;
  }
}

.clsticketcode {
  font-size: 1.5rem;
  font-weight: 500;
}

.css-vj8t7z {
  overflow: hidden;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
  max-height: 10rem !important;
}

.prioritiesVuln .css-10nd86i {
  padding: 10px 0px !important;
}

.prioritiesVuln .dropdown .dropdown-menu {
  left: -50px !important;
  width: 50px;
}
